.breadcrumbs {
  background-color: var(--white);
  height: 50px;

  &__items {
      display: flex;
      align-items: center;

      &-link {
        text-decoration: none;
        cursor: pointer;
      }
  }
}
