<!-- Task 2.3 -->
<header class="header">
    <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col stretch-left">
          <app-logo></app-logo>
      </div>
      <div class="col-md-auto">
        <a href="" class="header__link"><i class="fas fa-user"></i><span class="ml-2">User Login</span></a>
      </div>
      <div class="col-md-auto">
        <a href="" class="header__link"><i class="fas fa-sign-out-alt"></i><span class="ml-2">Log off</span></a>
      </div>
    </div>
  </div>
</header>
