<!-- Task 2.3 -->
<header class="header">
    <div class="container">
    <div class="d-flex">
      <div class="mr-auto p-2">
          <app-logo></app-logo>
      </div>
      <div *ngIf="user$ | async" class="p-2">
        <a href="" class="header__link"><i class="fas fa-user"></i><span class="ml-2">{{ user$ | async }}</span></a>
      </div>
      <div *ngIf="user$ | async" class="p-2">
        <a href="" class="header__link" (click)="logout()"><i class="fas fa-sign-out-alt"></i><span class="ml-2">Log off</span></a>
      </div>
    </div>
  </div>
</header>
