<!-- Task 2: Search -->
<div class="container">
  <div class="row">
    <div class="col stretch-left">
      <input class="form-control"
      type="text"
      name="searchText"
      placeholder="Type a course name"
      aria-label="Search"
      [(ngModel)]="searchText"
      (keyup)="onTextSearch$.next(searchText)"
      >
    </div>
    <!-- <div class="col-md-auto">
      <button class="btn btn-success"
      (click)="onSearch()"
      (click)="printSearch()"
      >Search</button>
    </div> -->
  </div>
</div>
