<div class="container-fluid bg-light">
  <div class="row">
    <div class="col stretch-left">
      <!-- Task 2: Search -->
      <app-search></app-search>
  </div>
  <div class="col-md-auto">
    <!-- Task 2: Add Course  -->
    <app-add-course></app-add-course>
  </div>
  </div>
  <div class="coursesPage">
    <!-- Task 2: Use ngFor -->
    <div class="coursesPage__item" *ngFor="let course of courses">
      <app-course [course] = "course" (deleteCourse)="onDeleteCourse($event)"></app-course>
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- Task 2  Load More-->
    <a href="#">Load More</a>
  </div>
</div>
