<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div class="container bg-light">
  <form [formGroup]="courseEditForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input class="form-control" type="text" placeholder="Provide course name"
        [class.has-error]="title.invalid && (title.dirty || title.touched)"
        formControlName="title">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input class="form-control" type="text" placeholder="Provide description"
        [class.has-error]="description.invalid && (description.dirty || description.touched)"
        formControlName="description">
    </div>

    <div class="form-group">
      <label for="date">Creation Date:</label>
      <input class="form-control" type="text" placeholder="Enter date in format yyyy-mm-dd"
        [class.has-error]="creationDate.invalid && (creationDate.dirty || creationDate.touched)"
        formControlName="creationDate">
    </div>

    <div class="form-group">
      <label for="duration">Duration:
        <span *ngIf="duration.value && duration.value > 0"><i class="far fa-clock"></i>
          {{ duration | duration }}</span>
      </label>
      <input class="form-control" type="text" placeholder="Enter course length"
        [class.has-error]="duration.invalid && (duration.dirty || duration.touched)"
        formControlName="duration">
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox"
        [class.has-error]="topRated.invalid && (topRated.dirty || topRated.touched)"
        formControlName="topRated">
              <!-- <input class="form-check-input" type="checkbox" id="toprated" name="toprated" [(ngModel)]="course.isTopRated"> -->
      <label for="toprated">Top rated</label>
    </div>

    <div class="form-group">
      <!-- <app-author-editor
        [courseEditForm] = "courseEditForm"
        [authorsFromEditor]="course.authors"
        [allAuthors]="allAuthors"
        (authorsChanged)="onauthorsChange($event)"></app-author-editor> -->
      <app-author-editor [authorsFromEditor]="authors" [allAuthors]="allAuthors"
        (authorsChanged)="onauthorsChange($event)"></app-author-editor>

        <!-- <input [class.has-error]="title.invalid && title.dirty"
      class="form-control" type="text" placeholder="Provide authors" id="authors" name="authors" required
        [(ngModel)]="authors"> -->
    </div>


    <div class="row">
      <div class="col">
        <button class="btn btn-danger" (click)="cancel()" id="cancel-button">Cancel</button>
        <!-- <button class="btn btn-primary offset-1"
            (click)="isNew ? save() : update()" id="delete-button">Save</button> -->
        <button class="btn btn-primary offset-1" id="delete-button" [disabled]="courseEditForm.invalid">Save</button>
      </div>
    </div>

  </form>
</div>
