<!-- <app-main-layout> -->
  <div class="container bg-light">
    <div class="row row-margin-bottom_30">
        <div class="col justify-content-around d-flex flex-column">
          <!-- Task 2: Search -->
          <app-search (search)="filter($event)"></app-search>
        </div>
        <div class="col-md-auto">
          <!-- Task 2: Add Course  -->
          <app-add-course></app-add-course>
        </div>
    </div>
      <!-- Task 2: Use ngFor -->
      <div
        class="coursesPage"
        *ngIf="coursesView?.length; else elseBlock">

        <app-course
          *ngFor="let course of coursesView | orderBy"
          [course] = "course"
          (courseId)="onDeleteCourse($event)">
        </app-course>

        <div class="row justify-content-center bg-light">
          <!-- Task 2  Load More-->
          <a href="#">Load More</a>
        </div>
      </div>
      <ng-template #elseBlock>
          <p class="row justify-content-center" style="margin-top: 10px;">No Data. Feel free to add new app-add-course</p>
      </ng-template>
    </div>

<!-- </app-main-layout> -->
