<div class="container-fluid border border-primary">
  <div class="row border border-primary">
    <!-- Task 2  {{object.property}}-->
    <div class="col-lg">
    <!-- Task 2  Details-->
    <p>Video Course {{course.id}}. {{course.title}}</p>
    </div>
    <div class="col-lg">
      <p><i class="far fa-clock"></i> {{ course.duration }} mins   <i class="far fa-calendar-alt"></i> {{ getDate(course.creationDate) }}</p>
    </div>
  </div>
  <div class="row border border-primary justify-content-center">
    <div class="col-lg border">{{ course.description }}</div>
    <div class="col-lg border text-center">
      <button class="btn btn-primary"
        (click)="edit()">Edit</button>
      <button class="btn btn-primary offset-1"
        (click)="delete()">Delete</button>

    </div>
  </div>
</div>

